@*@model List<_01_LampshadeQuery.Contracts.Slide.SlideQueryModel>*@

<div class="slider-widget-products slider-content-tabs slider-amazing-product pr-0 pl-0">
    <div class="widget widget-product card slider-content-tabs pr-0 pl-0">
        <header class="card-header">
            <span class="title-one">محصولات شگفت انگیز</span>
            <h3 class="card-title"></h3>
        </header>
        <div class="product-carousel product-amazing owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1162px;">
                    <div class="owl-item tab-item active" style="width: 222.313px; margin-left: 10px;">
                        <div class="item">
                            <a href="#" class="d-block hover-img-link">
                                <img src="assets/images/slider-amazing/as-1.jpg" class="img-fluid" alt="">
                            </a>
                            <h2 class="post-title">
                                <a href="#">
                                    لپ تاپ ۱۵ اینچی ایسوس مدل VivoBook Flip TP510UQ – C
                                </a>
                            </h2>
                            <div class="price">
                                <del><span>12,000,000<span>تومان</span></span></del>
                                <ins><span>11,180,000<span>تومان</span></span></ins>
                            </div>
                            <div class="countdown-timer">
                                <div class="countdown h4" data-date-time="10/10/2020 12:00" data-labels="{&quot;label-day&quot;: &quot;روز&quot;, &quot;label-hour&quot;: &quot;ساعت&quot;, &quot;label-minute&quot;: &quot;دقیقه&quot;, &quot;label-second&quot;: &quot;ثانیه&quot;}"><div class="countdown-item"><div class="countdown-value">155</div><div class="countdown-label">روز</div></div><div class="countdown-item"><div class="countdown-value">10</div><div class="countdown-label">ساعت</div></div><div class="countdown-item"><div class="countdown-value">16</div><div class="countdown-label">دقیقه</div></div><div class="countdown-item"><div class="countdown-value">01</div><div class="countdown-label">ثانیه</div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item tab-item active" style="width: 222.313px; margin-left: 10px;">
                        <div class="item">
                            <a href="#" class="d-block hover-img-link">
                                <img src="assets/images/slider-amazing/as-2.jpg" class="img-fluid" alt="">
                            </a>
                            <h2 class="post-title">
                                <a href="#">
                                    یخچال و فریزر سامسونگ مدل HM34
                                </a>
                            </h2>
                            <div class="price">
                                <del><span>9,000,000<span>تومان</span></span></del>
                                <ins><span>8,500,000<span>تومان</span></span></ins>
                            </div>
                            <div class="countdown-timer">
                                <div class="countdown h4" data-date-time="10/10/2020 12:00" data-labels="{&quot;label-day&quot;: &quot;روز&quot;, &quot;label-hour&quot;: &quot;ساعت&quot;, &quot;label-minute&quot;: &quot;دقیقه&quot;, &quot;label-second&quot;: &quot;ثانیه&quot;}"><div class="countdown-item"><div class="countdown-value">155</div><div class="countdown-label">روز</div></div><div class="countdown-item"><div class="countdown-value">10</div><div class="countdown-label">ساعت</div></div><div class="countdown-item"><div class="countdown-value">16</div><div class="countdown-label">دقیقه</div></div><div class="countdown-item"><div class="countdown-value">01</div><div class="countdown-label">ثانیه</div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item tab-item active" style="width: 222.313px; margin-left: 10px;">
                        <div class="item">
                            <a href="#" class="d-block hover-img-link">
                                <img src="assets/images/slider-amazing/as-3.jpg" class="img-fluid" alt="">
                            </a>
                            <h2 class="post-title">
                                <a href="#">
                                    کامپیوتر همه کاره 21.5 اینچی ایسوس مدل AIO V222UAK-B
                                </a>
                            </h2>
                            <div class="price">
                                <del><span>12,000,000<span>تومان</span></span></del>
                                <ins><span>11,180,000<span>تومان</span></span></ins>
                            </div>
                            <div class="countdown-timer">
                                <div class="countdown h4" data-date-time="10/10/2020 12:00" data-labels="{&quot;label-day&quot;: &quot;روز&quot;, &quot;label-hour&quot;: &quot;ساعت&quot;, &quot;label-minute&quot;: &quot;دقیقه&quot;, &quot;label-second&quot;: &quot;ثانیه&quot;}"><div class="countdown-item"><div class="countdown-value">155</div><div class="countdown-label">روز</div></div><div class="countdown-item"><div class="countdown-value">10</div><div class="countdown-label">ساعت</div></div><div class="countdown-item"><div class="countdown-value">16</div><div class="countdown-label">دقیقه</div></div><div class="countdown-item"><div class="countdown-value">01</div><div class="countdown-label">ثانیه</div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item tab-item active" style="width: 222.313px; margin-left: 10px;">
                        <div class="item">
                            <a href="#" class="d-block hover-img-link">
                                <img src="assets/images/slider-amazing/as-4.jpg" class="img-fluid" alt="">
                            </a>
                            <h2 class="post-title">
                                <a href="#">
                                    شارژر بی سیم مدل EP-NG930
                                </a>
                            </h2>
                            <div class="price">
                                <del><span>8,000,000<span>تومان</span></span></del>
                                <ins><span>6,500,000<span>تومان</span></span></ins>
                            </div>
                            <div class="countdown-timer">
                                <div class="countdown h4" data-date-time="10/10/2020 12:00" data-labels="{&quot;label-day&quot;: &quot;روز&quot;, &quot;label-hour&quot;: &quot;ساعت&quot;, &quot;label-minute&quot;: &quot;دقیقه&quot;, &quot;label-second&quot;: &quot;ثانیه&quot;}"><div class="countdown-item"><div class="countdown-value">155</div><div class="countdown-label">روز</div></div><div class="countdown-item"><div class="countdown-value">10</div><div class="countdown-label">ساعت</div></div><div class="countdown-item"><div class="countdown-value">16</div><div class="countdown-label">دقیقه</div></div><div class="countdown-item"><div class="countdown-value">01</div><div class="countdown-label">ثانیه</div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item tab-item" style="width: 222.313px; margin-left: 10px;">
                        <div class="item">
                            <a href="#" class="d-block hover-img-link">
                                <img src="assets/images/slider-amazing/as-5.jpg" class="img-fluid" alt="">
                            </a>
                            <h2 class="post-title">
                                <a href="#">
                                    تلویزیون ال ای دی هوشمند سامسونگ مدل 55NU7900 سایز 55 اینچ
                                </a>
                            </h2>
                            <div class="price">
                                <del><span>14,500,000<span>تومان</span></span></del>
                                <ins><span>13,500,000<span>تومان</span></span></ins>
                            </div>
                            <div class="countdown-timer">
                                <div class="countdown h4" data-date-time="10/10/2020 12:00" data-labels="{&quot;label-day&quot;: &quot;روز&quot;, &quot;label-hour&quot;: &quot;ساعت&quot;, &quot;label-minute&quot;: &quot;دقیقه&quot;, &quot;label-second&quot;: &quot;ثانیه&quot;}"><div class="countdown-item"><div class="countdown-value">155</div><div class="countdown-label">روز</div></div><div class="countdown-item"><div class="countdown-value">10</div><div class="countdown-label">ساعت</div></div><div class="countdown-item"><div class="countdown-value">16</div><div class="countdown-label">دقیقه</div></div><div class="countdown-item"><div class="countdown-value">01</div><div class="countdown-label">ثانیه</div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev disabled">
                    <i class="fa fa-angle-right"></i>
                </button>
                <button type="button" role="presentation" class="owl-next">
                    <i class="fa fa-angle-left"></i>
                </button>
            </div>
            <div class="owl-dots disabled"></div>
            <div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fa fa-angle-right"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-left"></i></button></div><div class="owl-dots disabled"></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fa fa-angle-right"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-left"></i></button></div><div class="owl-dots disabled"></div>
        </div>
    </div>
</div>
<div class="content-widget-amazing mt-4">
    <section id="amazing-slider" class="carousel slide carousel-fade card" data-ride="carousel">
        <div class="row m-0">
            <ol class="carousel-indicators pr-0 d-flex flex-column col-lg-3">
                <li class="carousel-item-li active" data-target="#amazing-slider" data-slide-to="0">
                </li>
                <li class="carousel-item-li" data-target="#amazing-slider" data-slide-to="1" class="">
                </li>
                <li class="carousel-item-li" data-target="#amazing-slider" data-slide-to="2" class="">
                </li>
                <li class="carousel-item-li" data-target="#amazing-slider" data-slide-to="3" class="">
                </li>
                <li class="carousel-item-li" data-target="#amazing-slider" data-slide-to="4" class="">
                </li>
            </ol>
            <div class="carousel-inner p-0 col-12 col-lg-9">
                <div class="carousel-item active">
                    <div class="row m-0">
                        <div class="right-col col-5 d-flex align-items-center">
                            <a class="w-100 text-center img-link-amazing" href="#">
                                <img src="assets/images/slider-amazing/as-1.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="discount">
                                <span class="discount-percent">
                                    6.2
                                    <i class="fa fa-percent"></i>
                                </span>
                            </div>
                            <h2 class="product-title">
                                <a href="#">  لپ تاپ ۱۵ اینچی ایسوس مدل VivoBook Flip TP510UQ – C                                                    </a>
                            </h2>
                            <div class="price text-center">
                                <del><span>12,000,000<span>تومان</span></span></del>
                                <ins><span>11,180,000<span>تومان</span></span></ins>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">ظرفیت حافظه داخلی: </span>
                                    <span class="text">یک ترابایت </span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">ظرفیت حافظه رم: </span>
                                    <span class="text">8 گیگابایت </span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">سری پردازنده: </span>
                                    <span class="text">Core i5 </span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">دقت صفحه نمایش: </span>
                                    <span class="text"> 1080 × 1920 </span>
                                </li>
                            </ul>
                            <div class="countdown-timer">
                                <div class="countdown h4" data-date-time="10/10/2020 12:00" data-labels='{"label-day": "روز", "label-hour": "ساعت", "label-minute": "دقیقه", "label-second": "ثانیه"}'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row m-0">
                        <div class="right-col col-5 d-flex align-items-center">
                            <a class="w-100 text-center img-link-amazing" href="#">
                                <img src="assets/images/slider-amazing/as-2.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="discount">
                                <span class="discount-percent">
                                    3.2
                                    <i class="fa fa-percent"></i>
                                </span>
                            </div>
                            <h2 class="product-title">
                                <a href="#"> یخچال و فریزر سامسونگ مدل HM34 </a>
                            </h2>
                            <div class="price text-center">
                                <del><span>9,000,000<span>تومان</span></span></del>
                                <ins><span>8,500,000<span>تومان</span></span></ins>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">قفل کودک: </span>
                                    <span class="text">دارد</span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">اخطار باز ماندن درب: </span>
                                    <span class="text">بله</span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">آبسردکن: </span>
                                    <span class="text">دارد</span>
                                </li>
                            </ul>
                            <div class="countdown-timer">
                                <div class="countdown h4" data-date-time="10/10/2020 12:00" data-labels='{"label-day": "روز", "label-hour": "ساعت", "label-minute": "دقیقه", "label-second": "ثانیه"}'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row m-0">
                        <div class="right-col col-5 d-flex align-items-center">
                            <a class="w-100 text-center img-link-amazing" href="#">
                                <img src="assets/images/slider-amazing/as-3.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="discount">
                                <span class="discount-percent">
                                    2.2
                                    <i class="fa fa-percent"></i>
                                </span>
                            </div>
                            <h2 class="product-title">
                                <a href="#">کامپیوتر همه کاره 21.5 اینچی ایسوس مدل AIO V222UAK-B</a>
                            </h2>
                            <div class="price text-center">
                                <del><span>12,000,000<span>تومان</span></span></del>
                                <ins><span>11,180,000<span>تومان</span></span></ins>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">ظرفیت حافظه داخلی: </span>
                                    <span class="text">500 گیگابایت</span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">ظرفیت حافظه رم: </span>
                                    <span class="text">4 گیگابایت </span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">سری پردازنده: </span>
                                    <span class="text">Pentium </span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">دقت صفحه نمایش: </span>
                                    <span class="text"> 1080 × 1920 </span>
                                </li>
                            </ul>
                            <div class="countdown-timer">
                                <div class="countdown h4" data-date-time="10/10/2020 12:00" data-labels='{"label-day": "روز", "label-hour": "ساعت", "label-minute": "دقیقه", "label-second": "ثانیه"}'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row m-0">
                        <div class="right-col col-5 d-flex align-items-center">
                            <a class="w-100 text-center img-link-amazing" href="#">
                                <img src="assets/images/slider-amazing/as-4.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="discount">
                                <span class="discount-percent">
                                    4.2
                                    <i class="fa fa-percent"></i>
                                </span>
                            </div>
                            <h2 class="product-title">
                                <a href="#">
                                    شارژر بی سیم مدل EP-NG930
                                </a>
                            </h2>
                            <div class="price text-center">
                                <del><span>8,000,000<span>تومان</span></span></del>
                                <ins><span>6,500,000<span>تومان</span></span></ins>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">شدت جریان خروجی: </span>
                                    <span class="text"> 2.0 آمپر مخصوص تبلت و موبایل </span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">تعداد درگاه خروجی: </span>
                                    <span class="text">1</span>
                                </li>
                            </ul>
                            <div class="countdown-timer">
                                <div class="countdown h4" data-date-time="10/10/2020 12:00" data-labels='{"label-day": "روز", "label-hour": "ساعت", "label-minute": "دقیقه", "label-second": "ثانیه"}'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item  finished">
                    <div class="row m-0">
                        <div class="right-col col-5 d-flex align-items-center">
                            <a class="w-100 text-center img-link-amazing" href="#">
                                <img src="assets/images/slider-amazing/as-5.jpg"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-7">
                            <div class="discount">
                                <span class="discount-percent">
                                    5.2
                                    <i class="fa fa-percent"></i>
                                </span>
                            </div>
                            <h2 class="product-title">
                                <a href="#">
                                    تلویزیون ال ای دی هوشمند سامسونگ مدل 55NU7900 سایز 55 اینچ
                                </a>
                            </h2>
                            <div class="price text-center">
                                <del><span>14,500,000<span>تومان</span></span></del>
                                <ins><span>13,500,000<span>تومان</span></span></ins>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">درگاه USB: </span>
                                    <span class="text">دارد </span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">کیفیت تصویر: </span>
                                    <span class="text">Ultra HD - 4K</span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i>
                                    <span class="title">رابط هوشمند: </span>
                                    <span class="text">دارد </span>
                                </li>
                            </ul>
                            <div class="countdown-timer">
                                <div class="countdown h4" data-date-time="10/10/2020 12:00" data-labels='{"label-day": "روز", "label-hour": "ساعت", "label-minute": "دقیقه", "label-second": "ثانیه"}'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>