@page
@model ServiceHost.Areas.Administration.Pages.Accounts.Role.CreateModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ایجاد نقش جدید</h4>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ایجاد نقش جدید</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Command.Name" class="control-label">نام</label>
                                        <input type="text" class="form-control" data-bind="value: Name">
                                        <span asp-validation-for="Command.Name" class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" data-bind="click: SaveRole" class="btn btn-info waves-effect waves-light">ایجاد</button>
                            <a asp-page="./Index" class="btn btn-dark waves-effect waves-light m-b-5">بازگشت</a>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var urlPath = window.location.pathname;
    $(function () {
        ko.applyBindings(CreateRole);
    });

    var CreateRole = {
        debugger;
        Name: ko.observable(),
        /*Permissions: ko.observable(),*/
        SaveRole: function () {
            $.ajax({
                url: 'https://localhost:44366/api/Role',
                type: 'post',
                dataType: 'json',
                data: ko.toJSON(this),
                contentType: 'application/json',
                success: function (result) {
                },
                error: function (err) {
                    if (err.responseText == "Creation Failed") { window.location.href = '/Role/Index/'; }
                    else {
                        alert("Status:" + err.responseText);
                        window.location.href = '/Role/Index/';;
                    }
                },
                complete: function () {
                    window.location.href = '/Role/Index/';
                }
            });
        }
    }
</script>