@using ShopManagement.Configuration.Permissions;
@inject _0_Framework.Application.IAuthHelper AuthHelper;
@{
    var currentAccout = AuthHelper.CurrentAccountInfo();
}
<header class="header-main">
    <div class="container-main">
        <div>
            <section class="h-main-row">
                <div class="col-lg-9 col-md-9 col-xs-12 pr">
                    <div class="header-right">
                        <div class="col-lg-3 pr">
                            <div class="header-logo row text-right">
                                <a href="~/">
                                    <img src="~/Theme/assets/images/logo.png" alt="دیجی اسمارت">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 pl">
                            <div class="header-search row text-right">
                                <div class="header-search-box">
                                    <form action="#" class="form-search">
                                        <input type="search" class="header-search-input input-bg" name="search-input" placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                        <div class="action-btns">
                                            <button class="btn btn-search btn-bg" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <div class="search-filter">
                                                <div class="form-ui">
                                                    <div class="custom-select-ui">
                                                        <select class="right">
                                                            <option>همه دسته ها</option>
                                                            <option>کالای دیجیتال</option>
                                                            <option>آرایشی بهداشتی</option>
                                                            <option>ابزاری اداری</option>
                                                            <option>مد پوشاک</option>
                                                            <option>خانه آشپز خانه</option>
                                                            <option>لوازم تحریر و هنر</option>
                                                            <option>کودک و نوزاد</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 pl">
                    <div class="header-left">
                        <div class="header-account text-left">
                            <div class="d-block">
                                <div class="account-box">

                                    @if (AuthHelper.IsAuthenticated())
                                    {
                                        <div class="nav-account d-block pl">
                                            <span class="icon-account">
                                                <img src="~/Theme/assets/images/man.png" class="avator">
                                            </span>
                                            <span class="title-account">حساب کاربری</span>
                                            <div class="dropdown-menu">
                                                <ul class="account-uls mb-0">
                                                    <li class="account-item">
                                                        <a href="#" class="account-link">پنل کاربری</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a href="#" class="account-link">سفارشات من</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a href="#" class="account-link">تنظیمات</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a asp-page="/Authentication/Signin" asp-page-handler="Logout" class="account-link">خروج</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="nav-account d-block pl">
                                            <a asp-page="Authentication/Signup">
                                                <span class="title-account">ثبت نام</span>
                                            </a>

                                            <a asp-page="Authentication/Signin">
                                                <span class="title-account">ورود</span>
                                            </a>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div>
                <nav class="header-main-nav d-block">
                    <div class="d-block">
                        <div class="align-items-center">
                            <ul class="menu-ul mega-menu-level-one">
                                <li id="nav-menu-item" class="menu-item">
                                    <a href="#" class="current-link-menu category-link">
                                        برندها
                                    </a>
                                </li>
                                <li id="nav-menu-item" class="menu-item">
                                    <a href="~/ProductArchive" class="current-link-menu category-link">
                                        آرشیو محصولات
                                    </a>
                                </li>
                                <li id="nav-menu-item" class="menu-item">
                                    <a href="~/Blog/" class="current-link-menu category-link">
                                        وبلاگ
                                    </a>
                                </li>
                                <li id="nav-menu-item" class="menu-item">
                                    <a asp-page="/Account" class="current-link-menu category-link">
                                        حساب من
                                    </a>
                                </li>
                                <li id="nav-menu-item" class="menu-item">
                                    <a Permission="@ShopPermissions.Admin" asp-page="Admin/Index" class="current-link-menu category-link">
                                        پنل ادمین
                                    </a>
                                </li>


                                <div class="divider-space-card d-block">
                                    <div class="header-cart-basket">
                                        <a href="#" class="cart-basket-box cart-basket-box-bg">
                                            <span class="icon-cart">
                                                <i class="mdi mdi-cart"></i>
                                            </span>
                                            <span class="title-cart">سبد خرید</span>
                                            <span class="price-cart">
                                                25,000,000
                                                <span>تومان</span>
                                            </span>
                                            <span class="count-cart count-bg" id="cart_items_count">0</span>
                                        </a>
                                        <div class="widget-shopping-cart">
                                            <div class="widget-shopping-cart-content">
                                                <ul class="product-list-widget" id="cart_items_wrapper">
                                                   
                                                </ul>
                                                <div class="mini-card-total">
                                                    <strong>قیمت کل : </strong>
                                                    <span class="price-total">
                                                        25,000,000
                                                        <span>تومان</span>
                                                    </span>
                                                </div>
                                                <div class="mini-card-button">
                                                    <a href="cart.html" class="view-card">مشاهده سبد خرید</a>
                                                    <a href="checkout.html" class="card-checkout">تسویه حساب</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="nav-categories-overlay"></div>