@*@model List<_01_LampshadeQuery.Contracts.Slide.SlideQueryModel>*@

<div class="slider-moments mt-4">
    <div class="widget-suggestion widget card">
        <header class="card-header promo-single-headline">
            <h3 class="card-title">پیشنهاد لحظه‌ای</h3>
        </header>
        <div id="suggestion-slider" class="owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(1369px, 0px, 0px); transition: all 0.25s ease 0s; width: 2190px;">
                    <div class="owl-item cloned" style="width: 273.75px;">
                        <div class="item">
                            <a href="#">
                                <img src="assets/images/slider-moment/sm-1.jpg" class="w-100" alt="">
                            </a>
                            <h3 class="product-title">
                                <a href="#"> تیشرت آستین کوتاه مردانه مدل T41 </a>
                            </h3>
                            <div class="price">
                                <span class="amount">
                                    ۲۳,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 273.75px;">
                        <div class="item">
                            <a href="#">
                                <img src="assets/images/slider-moment/sm-2.jpg" class="w-100" alt="">
                            </a>
                            <h3 class="product-title">
                                <a href="#">تی شرت آستین کوتاه تارکان کد btt 152-1</a>
                            </h3>
                            <div class="price">
                                <span class="amount">
                                    ۵۹,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 273.75px;">
                        <div class="item">
                            <a href="#">
                                <img src="assets/images/slider-moment/sm-3.jpg" class="w-100" alt="">
                            </a>
                            <h3 class="product-title">
                                <a href="#"> لپ تاپ 17 اینچی ایسوس مدل VivoBook A712FB-P </a>
                            </h3>
                            <div class="price">
                                <span class="amount">
                                    ۱۳,۰۰۰,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 273.75px;">
                        <div class="item">
                            <a href="#">
                                <img src="assets/images/slider-moment/sm-4.jpg" class="w-100" alt="">
                            </a>
                            <h3 class="product-title">
                                <a href="#">
                                    لپ تاپ 16 اینچی اپل مدل MacBook Pro MVVK2 2019 همراه با تاچ بار
                                </a>
                            </h3>
                            <div class="price">
                                <span class="amount">
                                    ۴۷,۰۰۰,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 273.75px;">
                        <div class="item">
                            <a href="#">
                                <img src="assets/images/slider-moment/sm-5.jpg" class="w-100" alt="">
                            </a>
                            <h3 class="product-title">
                                <a href="#">
                                    گوشی موبایل سامسونگ مدل Galaxy S10 SM-G973F/DS دو سیم کارت ظرفیت 128 گیگابایت
                                </a>
                            </h3>
                            <div class="price">
                                <span class="amount">
                                    ۱۱,۰۰۰,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="progressBar">
            <div class="slide-progress" style="width: 100%; transition: width 5000ms ease 0s;"></div>
        </div>
    </div>
</div>