<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (ViewData["Title"] != null)
    {
        <title>@ViewData["Title"] - فروشگاه لئو کالا</title>
    }
    else
    {
        <title>فروشگاه لئو کالا</title>
    }

    <meta name="keywords" content="@ViewData["keywords"]" />
    <meta name="description" content="@ViewData["metaDescription"]" />

    <!-- font---------------------------------------->
    <link rel="stylesheet" href="~/Theme/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/vendor/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="~/Theme/assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/Theme/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/vendor/nice-select.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="~/Theme/assets/css/main.css">
    <link rel="stylesheet" href="~/Theme/assets/css/responsive.css">
</head>
<body>

    <!-- header-------------------------------->
    <!--<header class="header-main">
        <partial name="_Header" />
    </header>-->
    <!-- header-------------------------------->

    @await Component.InvokeAsync("Header")


    @RenderBody();


    <!-- footer------------------------------------------->
    <footer class="footer-main-site">
        <partial name="_Footer" />
    </footer>
    <!-- footer------------------------------------------->

    <script src="~/Theme/assets/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/Theme/assets/js/vendor/bootstrap.js"></script>
    <!-- plugin----------------------------------------------------->
    <script src="~/Theme/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="~/Theme/assets/js/vendor/jquery.countdown.js"></script>
    <script src="~/Theme/assets/js/vendor/jquery.nice-select.min.js"></script>
    <!-- main js---------------------------------------------------->
    <script src="~/Theme/assets/js/main.js"></script>


    <script>
        $(document).ready(function () {
            updateCart();
        });
    </script>

</body>
<!-- file js---------------------------------------------------->
</html>

