@*@model List<_01_LampshadeQuery.Contracts.Slide.SlideQueryModel>*@

<div class="sidebar-menu-widget-area">
    <section class="megamenu-widget">
        <div class="header-main-menu">
            <ul class="main-menu-ul category-menu mega-menu-level-one">
                <li class="main-menu-item category-menu-item menu-item-type-custom">
                    <a href="#" class="main-menu-link-category">
                        <img src="assets/images/menu-main/category/smartphone.png">
                        کالای دیجیتال
                    </a>
                    <ul class="mega-menu-category sub-menu mega-menu-level-two">
                        <li class="menu-category-item menu-item-type-custom menu-item">
                            <a href="#" class="menu-category-link-title">
                                موبایل
                            </a>
                            <ul class="sub-menu-category mega-menu-level-there">
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اپل
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سامسونگ
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        نوکیا
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        ایسوس
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        هواوی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        الجی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اچ تی سی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سونی
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-category-item menu-item-type-custom menu-item">
                            <a href="#" class="menu-category-link-title">
                                موبایل
                            </a>
                            <ul class="sub-menu-category mega-menu-level-there">
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اپل
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سامسونگ
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        نوکیا
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        ایسوس
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        هواوی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        الجی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اچ تی سی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سونی
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-category-item menu-item-type-custom menu-item">
                            <a href="#" class="menu-category-link-title">
                                موبایل
                            </a>
                            <ul class="sub-menu-category mega-menu-level-there">
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اپل
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سامسونگ
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        نوکیا
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        ایسوس
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        هواوی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        الجی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اچ تی سی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سونی
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <div class="bg-image">
                            <img src="assets/images/menu-main/digital.png" alt="">
                        </div>
                    </ul>
                </li>
                <li class="main-menu-item category-menu-item menu-item-type-custom">
                    <a href="#" class="main-menu-link-category">
                        <img src="assets/images/menu-main/category/makeup.png">
                        آرایشی و بهداشتی
                    </a>
                    <ul class="mega-menu-category sub-menu mega-menu-level-two" style="top: 50px;">
                        <li class="menu-category-item menu-item-type-custom menu-item">
                            <a href="#" class="menu-category-link-title">
                                موبایل
                            </a>
                            <ul class="sub-menu-category mega-menu-level-there">
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اپل
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سامسونگ
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        نوکیا
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        ایسوس
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        هواوی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        الجی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اچ تی سی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سونی
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-category-item menu-item-type-custom menu-item">
                            <a href="#" class="menu-category-link-title">
                                موبایل
                            </a>
                            <ul class="sub-menu-category mega-menu-level-there">
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اپل
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سامسونگ
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        نوکیا
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        ایسوس
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        هواوی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        الجی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اچ تی سی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سونی
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-category-item menu-item-type-custom menu-item">
                            <a href="#" class="menu-category-link-title">
                                موبایل
                            </a>
                            <ul class="sub-menu-category mega-menu-level-there">
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اپل
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سامسونگ
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        نوکیا
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        ایسوس
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        هواوی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        الجی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اچ تی سی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سونی
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <div class="bg-image">
                            <img src="assets/images/menu-main/cosmetic.png" alt="">
                        </div>
                    </ul>
                </li>
                <li class="main-menu-item category-menu-item menu-item-type-custom">
                    <a href="#" class="main-menu-link-category">
                        <img src="assets/images/menu-main/category/print.png">
                        ابزار و اداری
                    </a>
                </li>
                <li class="main-menu-item category-menu-item menu-item-type-custom">
                    <a href="#" class="main-menu-link-category">
                        <img src="assets/images/menu-main/category/suit.png">
                        مد و پوشاک
                    </a>
                </li>
                <li class="main-menu-item category-menu-item menu-item-type-custom">
                    <a href="#" class="main-menu-link-category">
                        <img src="assets/images/menu-main/category/home.png">
                        خانه و آشپزخانه
                    </a>
                    <ul class="mega-menu-category sub-menu mega-menu-level-two" style="top: 150px;">
                        <li class="menu-category-item menu-item-type-custom menu-item">
                            <a href="#" class="menu-category-link-title">
                                موبایل
                            </a>
                            <ul class="sub-menu-category mega-menu-level-there">
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اپل
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سامسونگ
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        نوکیا
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        ایسوس
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        هواوی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        الجی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اچ تی سی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سونی
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-category-item menu-item-type-custom menu-item">
                            <a href="#" class="menu-category-link-title">
                                موبایل
                            </a>
                            <ul class="sub-menu-category mega-menu-level-there">
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اپل
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سامسونگ
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        نوکیا
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        ایسوس
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        هواوی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        الجی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اچ تی سی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سونی
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-category-item menu-item-type-custom menu-item">
                            <a href="#" class="menu-category-link-title">
                                موبایل
                            </a>
                            <ul class="sub-menu-category mega-menu-level-there">
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اپل
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سامسونگ
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        نوکیا
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        ایسوس
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        هواوی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        الجی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        اچ تی سی
                                    </a>
                                </li>
                                <li class="menu-category-item-there">
                                    <a href="#">
                                        سونی
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <div class="bg-image">
                            <img src="assets/images/menu-main/kitchen.png" alt="">
                        </div>
                    </ul>
                </li>
                <li class="main-menu-item category-menu-item menu-item-type-custom">
                    <a href="#" class="main-menu-link-category">
                        <img src="assets/images/menu-main/category/edit.png">
                        لوازم و تحریر
                    </a>
                </li>
                <li class="main-menu-item category-menu-item menu-item-type-custom">
                    <a href="#" class="main-menu-link-category">
                        <img src="assets/images/menu-main/category/child.png">
                        کودک و نوزاد
                    </a>
                </li>
                <li class="main-menu-item category-menu-item menu-item-type-custom">
                    <a href="#" class="main-menu-link-category">
                        <img src="assets/images/menu-main/category/cup.png">
                        ورزشی و اسپرت
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>


@*responsive-megamenu-mobile---------------*@
<nav class="sidebar">
    <div class="nav-header">
        <img class="pic-header" src="images/header-pic.jpg" alt="">
        <div class="header-cover"></div>
        <div class="logo-wrap">
            <a class="logo-icon" href="#"><img alt="logo-icon" src="assets/images/logo.png" width="40"></a>
        </div>
    </div>
    <ul class="nav-categories ul-base">
        <li>
            <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="mdi mdi-chevron-down"></i>کالای دیجیتال</a>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                <ul>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                        <ul>
                            <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                            <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                            <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">گوشی موبایل</a>
                        <ul>
                            <li><a href="#" class="category-level-3">سامسونگ</a></li>
                            <li><a href="#" class="category-level-3">هوآوی</a></li>
                            <li><a href="#" class="category-level-3">اپل</a></li>
                            <li><a href="#" class="category-level-3">شیائومی</a></li>
                            <li><a href="#" class="category-level-3">آنر</a></li>
                            <li><a href="#" class="category-level-3">نوکیا</a></li>
                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">دوربین</a>
                        <ul>
                            <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                            <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                            <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="mdi mdi-chevron-down"></i>آرایشی و بهداشتی</a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                <ul>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                        <ul>
                            <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                            <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                            <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">گوشی موبایل</a>
                        <ul>
                            <li><a href="#" class="category-level-3">سامسونگ</a></li>
                            <li><a href="#" class="category-level-3">هوآوی</a></li>
                            <li><a href="#" class="category-level-3">اپل</a></li>
                            <li><a href="#" class="category-level-3">شیائومی</a></li>
                            <li><a href="#" class="category-level-3">آنر</a></li>
                            <li><a href="#" class="category-level-3">نوکیا</a></li>
                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">دوربین</a>
                        <ul>
                            <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                            <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                            <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="#">ابزار و اداری</a></li>
        <li><a href="#">مد و پوشاک</a></li>
        <li>
            <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="mdi mdi-chevron-down"></i>خانه و آشپزخانه</a>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="">
                <ul>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                        <ul>
                            <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                            <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                            <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">گوشی موبایل</a>
                        <ul>
                            <li><a href="#" class="category-level-3">سامسونگ</a></li>
                            <li><a href="#" class="category-level-3">هوآوی</a></li>
                            <li><a href="#" class="category-level-3">اپل</a></li>
                            <li><a href="#" class="category-level-3">شیائومی</a></li>
                            <li><a href="#" class="category-level-3">آنر</a></li>
                            <li><a href="#" class="category-level-3">نوکیا</a></li>
                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">دوربین</a>
                        <ul>
                            <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                            <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                            <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="#">لوازم تحریر و هنر</a></li>
        <li><a href="#">کودک و نوزاد</a></li>
        <li><a href="#">برند ها</a></li>
        <li><a href="#">آرشیو محصولات</a></li>
        <li><a href="#">وبلاگ</a></li>
        <li><a href="#">حساب من</a></li>
    </ul>
</nav>
<div class="nav-btn nav-slider">
    <span class="linee1"></span>
    <span class="linee2"></span>
    <span class="linee3"></span>
</div>
<div class="overlay"></div>
@*responsive-megamenu-mobile---------------*@